.starmap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
  overflow: auto;
  background: black;

  --scale: 355px;
}

/* hide scrollbar */
.starmap::-webkit-scrollbar {
  display: none;
}

.starmap__body {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(var(--scale) * var(--w)); 
  height: calc(var(--scale) * var(--h)); 
  border: 1px solid #333;
}

.starmap__resources {
  position: fixed;
  left: 50%; bottom: 0;
  transform: translateX(-50%);
}

.starmap__star,
.starmap__spaceship:not(.starmap__spaceship--in-system) {
  position: relative;
  left: calc(var(--scale) * var(--x)); 
  top: calc(var(--scale) * var(--y));
  transform: translate(-50%, -50%);
}

.starmap__star {
  width: 0; height: 0;
  box-shadow: 0 0 25px 4px rgb(255 255 255 / 70%);
}

.starmap__spaceship {
  position: relative;
  width: 0; height: 0;
}

.starmap__star::before {
  content: '';
  position: absolute;
  left: 50%; top: 50%;
  width: 20px; height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
}

.starmap__star-body {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  width: var(--w); height: var(--h);
  transform: translate(-50%, -50%);
  background: var(--color);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #333;
}

.starmap__star-body--close {
  left: calc(50% + 3px);
}

.starmap__star-body--distant {
  left: calc(50% - 4px);
  top: calc(50% - 3px);
}

[data-star-type] {
  --color: white;
  --w: 3px; --h: 3px;
}

[data-star-type="0"] {
  --w: 2px; --h: 2px;
}

[data-star-type="1"]  {
  --color: red;
  --w: 2px; --h: 2px;
}

[data-star-type="2"]  {
  --color: rgb(255,223,135);
}

[data-star-type="3"]  {
  --color: rgb(173,220,255);
}

[data-star-type="4"]  {
  --color: rgb(173,220,255);
  --w: 4px; --h: 4px;
}

[data-star-type="5"]  {
  --color: rgb(163, 216, 255);
  --w: 4px; --h: 4px;
}

[data-star-type="6"]  {
  --w: 5px; --h: 5px;
}

.starmap__star--settled .starmap__star-body {
  box-shadow: 0 0 0 1px #333, 0 0 0 2px white;
}

.starmap__star-name {
  position: absolute;
  top: -9px; left: 50%;
  transform: translateX(-50%) translateY(-100%);
  color: white;
  font-size: 16px;
  text-align: center;
  min-width: 150px;
}

.starmap__star:not(.starmap__star--settled):not(:hover) .starmap__star-name {
  display: none;
}

/*.starmap__star:hover .starmap__star-name {
  text-decoration: underline;
}*/

[data-info-year]::after {
  display: none;
  content: attr(data-info-year);
  position: absolute;
  bottom: -5px; left: 50%;
  transform: translateX(-50%) translateY(100%);
  text-align: center;
  font-size: 10px;
  color: #ccc;
}

.starmap__spaceships {
  position: absolute;
  right: -10px; top: 50%;
  transform: translateX(100%) translateY(-50%);
  display: flex;
  column-gap: 12px;
}

.starmap__spaceship-body {
  display: block;
  width: 0; height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  transform: translate(-50%, -50%);
}

.starmap__spaceship--player .starmap__spaceship-body {
  border-bottom-color: deepskyblue;
}

.starmap__spaceship--projected .starmap__spaceship-body {
  opacity: 0.5;
}

.starmap__spaceship-name {
  display: none;
  position: absolute;
  top: -5px; left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  min-width: 150px;
}

.starmap__spaceship:hover .starmap__spaceship-name,
.starmap__star[data-info-year]:hover::after,
.starmap__spaceship[data-info-year]:hover::after {
  display: block;
}
