.planet-info__image .planet-image {
  width: 400px; height: 400px;
}

.planet-info__field::before {
  content: attr(data-name) ': ';
  text-transform: capitalize;
  font-weight: bold;
}

.planet-info__factions-chart-box {
  max-width: 350px;
}
